@import url('https://fonts.googleapis.com/css2?family=Playball&family=Readex+Pro&family=Work+Sans&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Import fonts*/

body {
    font-family: 'Playball', cursive;
    font-family: 'Readex Pro', sans-serif;
}
.menu{
    background-color: #005e5e;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
    margin: 1%;
}

/*Création d'une div pour le logo et la navbar*/

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    font-size: 2rem;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
}

.btnClose {
    display: none;
    color: aliceblue;
    padding-right: 1%;
    cursor: pointer;
}
ul{
    display: flex;
}

.navPanier{
    display: flex;
    margin-right: 1%;
    color: aliceblue;

}

.navPanier .fas {
    padding: 5px;
    cursor: pointer;
}


@media screen and (max-width : 810px) {
    .navbar{
        display: none;
    }
    .navbar.active {
        display: block;   
    }
    
    .btnClose {
        display: block;
    }
    .navbar.active > ul{
        display: block;
        
    }
    .brand {
    display: block;
    width: 65%;
    font-size: 2rem;
}
    
}